.header {
    background-color: #0066cc;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input {
    font-family: Arial, sans-serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: white;
    color: #0066cc;
    cursor: pointer;
    border-radius: 5px;
}